<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>NGO / Admin Dashboard</h1>

  {% if reports|length == 0 %}
    <p>No reports yet</p>
  {% else %}
    <table border="1" cellpadding="10">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Proof</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      {% for r in reports %}
      <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.location }}</td>
        <td>{{ r.proof }}</td>
        <td>{{ r.time }}</td>
        <td>{{ r.status }}</td>
        <td>
          <a href="/toggle_status/{{ loop.index0 }}">Toggle Status</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}

  <br>
  <a href="/">Back to Form</a>
</body>
</html>
